/* *{  */
  border: solid 1px red;
  font-family: "Kosugi Maru", sans-serif;
}

.navbar-nav{
  margin-left: 200px;
}
.container{
  padding-top: 50px;
}
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-section {
  padding: 3rem 0;
  background-color: #f8f9fa; /* 淺灰背景 */
}

.about-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  color: #695c54;
}

.about-hr {
  width: 80px;
  margin: 0 auto 2rem auto;
  border-top: 3px solid #ab5926; /* 底線 */
}

.about-img {
  max-width: 300px;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.about-subtitle {
  color: #ab5926;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.about-name {
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #262423;
}

.about-profile {
  font-size: 1rem;
  color: #495057;
}

.profile-list {
  list-style: none;
  padding-left: 0;
}

.profile-list li {
  margin-bottom: 1rem;
}

.profile-list a {
  color: #1ea7c9;
  text-decoration: none;
}

.profile-list a:hover {
  text-decoration: underline;
}

.information-section {
  padding-top: 60px;
  padding-bottom: 60px;

}


.information-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #695c54;
  letter-spacing: 2px;
}

.information-hr {
  width: 80px;
  border-top: 3px solid #68b0b0;
  margin: 0 auto 2rem auto;
}

.info-block {
  background: #f8f9fa;
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0,0,0,0.06);
  transition: box-shadow 0.3s;
}

.info-block:hover {
  box-shadow: 0 8px 32px rgba(0,0,0,0.12);
}

.info-subtitle {
  font-weight: 600;
  color: #1c1f1f;
  letter-spacing: 1px;
}

.timeline li {
  position: relative;
  padding-left: 60px;
  margin-bottom: 25px;
  font-size: 1rem;
}
.timeline li::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 8px;
  width: 10px;
  height: 10px;
  background: #1c1f1f;
  border-radius: 50%;
}
.timeline .year {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  color: #1c1f1f;
  width: 50px;
}
.timeline .content {
  font-weight: 500;
  color: #1c1f1f;
}

.skill-item i {
  vertical-align: middle;
}

.progress {
  height: 1.3rem;
  border-radius: 0.75rem;
  background: #1c1f1ff;
  font-size: 1rem;
}

.progress-bar {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.75rem;
}
.contact-title {
  color: #695c54; 
}
/* 40px */
.toTop-arrow {
width: 3.5rem;
height: 3.5rem;
padding: 0;
margin: 0;
border: 0;
border-radius: 50%;
opacity: 0.6;
background: #ffbddb;
cursor: pointer;
position:fixed;
right: 1rem;
bottom: 1rem;
display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
width: 18px;
height: 3px;
border-radius: 2px;
background: #faf5f5;
position: absolute;
content: "";
}
.toTop-arrow::before {
transform: rotate(-45deg) translate(0, -50%);
left: 0.9rem;
}
.toTop-arrow::after {
transform: rotate(45deg) translate(0, -50%);
right: 0.9rem;
}
.toTop-arrow:focus {outline: none;}